.Nav {
    grid-area: n;
    padding: 10px;
    border: 1px dashed black;
    font-size: 16px;
    background-color: gainsboro;
}

.item {
    color: black;
}

.active {
    color: green;
    font-weight: 800;
}

a:hover {
    color: red;
}